  <div class="hero-unit">
  <h1>Welcome to MassText</h1>
  <p> We help you text-spam all your friends</p>
  <p>
    <a href="users/sign_up" class="btn btn-primary btn-large active">
      Join the Alpha
    </a>
    <img src="iphone5.png">
    </p>
    </div>

